n8n_workflow_blueprint.json
{
  "name": "CEO Auto-Reply Workflow",
  "nodes": [
    {
      "parameters": {
        "pollInterval": 60,
        "filters": {
          "read": false
        }
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "ceo_data_spreadsheet_id",
        "range": "CEO Master List!A:E",
        "lookupColumn": "Email Address",
        "lookupValue": "={{$node[\"Gmail Trigger\"].json[\"from\"]}}"
      },
      "name": "Google Sheets Lookup",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={{$node[\"Gmail Trigger\"].json[\"from\"]}}",
        "subject": "Re: {{$node[\"Gmail Trigger\"].json[\"subject\"]}}",
        "message": "Hi {{$node[\"Google Sheets Lookup\"].json[\"Full Name\"].split(' ')[0]}},\n\nThank you for your reply! I'll personally follow up within 24 hours.\n\nBest,\nAutomation Team"
      },
      "name": "Send Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Lookup": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
